@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap");

html {
    font-family: "Lora", serif;
    font-size: 62.5%;
}

h1, h2, nav li a {
    font-family: "Roboto Slab", serif;
}

/* START - Provided code */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* END - Provided code */

/* Typography */
h1 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

h2, nav li a {
    letter-spacing: 0.08rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

section h2 + p {
    text-indent:1.25rem;
}

p, li {
    line-height: 1.6;
    letter-spacing: 0.03rem;
    word-spacing: 0.05rem;
    font-size: 1rem;
}

/* Link sections */
a {
    text-decoration: underline;
    outline: none;
}

a:link, a:visited {
    color: #aa6666;
}

a:hover, a:focus {
    text-decoration: none;
    color: #773333;
}

a:active {
    color: #000000;
    text-decoration: none;
}

a[href^="http"] {
    padding-right: 16px;
    background-image: url("external-link-52.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 14px 14px;
}

/* List section */
ul, ol {
    margin: 1rem 0;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-roman;
}

/* Nav section */

nav ul {
    padding-left: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    margin-bottom: 1rem;
}

nav li a {
    display: block;
    width: 100%;
    line-height: 3.2;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #aa6666;
}

nav li a:hover, nav li a:focus {
    background-color: #aa6666;
    color: #ffffff;
}

nav li a:active {
    background-color: #773333;
    color: #ffffff;
}